<div class="page-header">
  <h3>Salesperson #<%= @salesperson.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @salesperson.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @salesperson.last_name %></dd>

      <dt>Sugar user</dt>
      <dd><%= @salesperson.sugar_user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/salespeople" class="btn btn-primary">
        Back
      </a>
      <a href="/salespeople/<%= @salesperson.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_salesperson/<%= @salesperson.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Salesperson has many chargebacks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Chargebacks
      </li>

      <% @salesperson.chargebacks.each do |chargeback| %>
        <li class="list-group-item">
          <a href="/chargebacks/<%= chargeback.id %>">
            <%= chargeback.date_received %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/chargebacks/<%= chargeback.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/chargebacks/<%= chargeback.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_chargeback/<%= chargeback.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
