<div class="page-header">
  <h3>Chargeback #<%= @chargeback.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date received</dt>
      <dd><%= @chargeback.date_received %></dd>

      <dt>Date transacted</dt>
      <dd><%= @chargeback.date_transacted %></dd>

      <dt>Contact name</dt>
      <dd><%= @chargeback.contact_name %></dd>

      <dt>Account name</dt>
      <dd><%= @chargeback.account_name %></dd>

      <dt>Salesperson</dt>
      <dd>
        <% if @chargeback.salesperson.present? %>
          <a href="/salespeople/<%= @chargeback.salesperson_id %>">
            <%= @chargeback.salesperson.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Credit card</dt>
      <dd>
        <% if @chargeback.credit_card.present? %>
          <a href="/credit_cards/<%= @chargeback.credit_card_id %>">
            <%= @chargeback.credit_card.type %>
          </a>
        <% end %>
      </dd>

      <dt>Amount</dt>
      <dd><%= @chargeback.amount %></dd>

      <dt>Io</dt>
      <dd><%= @chargeback.io %></dd>

      <dt>Case number</dt>
      <dd><%= @chargeback.case_number %></dd>

      <dt>Reason</dt>
      <dd>
        <% if @chargeback.reason.present? %>
          <a href="/reasons/<%= @chargeback.reason_id %>">
            <%= @chargeback.reason.reason %>
          </a>
        <% end %>
      </dd>

      <dt>Date due</dt>
      <dd><%= @chargeback.date_due %></dd>

      <dt>Date responded</dt>
      <dd><%= @chargeback.date_responded %></dd>

      <dt>Status</dt>
      <dd>
        <% if @chargeback.status.present? %>
          <a href="/statuses/<%= @chargeback.status_id %>">
            <%= @chargeback.status.status %>
          </a>
        <% end %>
      </dd>

      <dt>Notes</dt>
      <dd><%= @chargeback.notes %></dd>

      <dt>User</dt>
      <dd>
        <% if @chargeback.user.present? %>
          <a href="/users/<%= @chargeback.user_id %>">
            <%= @chargeback.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/chargebacks" class="btn btn-primary">
        Back
      </a>
      <a href="/chargebacks/<%= @chargeback.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_chargeback/<%= @chargeback.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
